body, input, button {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    font-stretch: normal;
    color: #222;
}
div {
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
li {
    display: inline;
    float: left;
    margin-left: 14px;
    margin-top: 5px;
    line-height: 24px;
}
li a {
    display: block;
    padding: 5px;
    color: #222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration-style: solid;
}
.nav-bar-left-part {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 60px;
    padding: 6px;
}
#google-apps-image {
    max-height: 24px;
    max-width: 24px;
}
#avatar {
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    max-height: 32px;
    max-width: 32px;
    border-radius: 2px;
    background-size: 32px 32px;
    border: 0;
    vertical-align: middle;
}
#avatar-wrap {
    padding: 4px;
    margin: 0 5px 0 10px;
}
#user-avatar {
    padding: 4px;
}
.float-right {
    float: right;
}
.google-services {
    display: inline-block;
    flex-grow: 1;
    min-width: auto;
    height: 48px;
    color: black;
    position: relative;
}
.logo-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 290px;
    box-sizing: border-box;
}
#logo {
    width: 272px;
    height: 92px;
    object-position: center bottom;
}
.search-main {
    display: block;
    padding: 20px;
}
.search-field {
    display: block;
    margin-top: 0em;
    height: 140px;
    width: 100%;
}
#search-icon {
    width: 20px;
    height: 20px;
}
#mic-icon {
    width: 24px;
    height: 24px;
}
.search-field-wrap {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 5px auto;
    max-width: 584px;
    position: relative;
    padding-top: 6px;
}
.search-icon-wrap {
    display: flex;
}
.search-text-field {
    flex: 100%;
    white-space: pre;
    height: 34px;
}
#search-text-main {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    flex: 100%;
    height: 34px;
    font-size: 16px;

}
.search-mic-icon-wrap {

}
.search-buttons {

}
.footer {

}
.footer-left-wrapper {

}
.footer-middle-wrapper {

}
.footer-right-wrapper {

}





